<!-- get customer -->
<div align="center">
	<div class="row">
		<div class="well bs-component">
			<form class="form-horizontal">
				<fieldset>
	<h2>Get Customer Details</h2>
						<div class="form-group">
	<input class="form-control" type="text" placeholder="enter customer id" ng-model="custID"><br />
			</div>
						<div class="form-group">
	<button class="btn btn-primary" ng-click="func()">Get Customer</button>
			</div>
	<div ng-model="customer" ng-hide="hideCustomerDetails">
		<h4 class="text-success">
		customer id: {{customer.id}} <br /> 
		customer name: {{customer.custName}} <br /> 
		customer password: {{customer.password}} <br />
		</h4>
		<hr />
		<table class="table table-striped table-hover " ng-hide="hideCouponTable">
			<tr class="success">
				<td>id</td>
				<td>title</td>
				<td>start date</td>
				<td>end date</td>
				<td>amount</td>
				<td>type</td>
				<td>message</td>
				<td>price</td>
				<td>image</td>
			</tr>
			<tr ng-repeat="coupon in customer.coupons | orderBy: 'id' ">
				<td>{{coupon.id}}</td>
				<td>{{coupon.title}}</td>
				<td>{{coupon.startDate}}</td>
				<td>{{coupon.endDate}}</td>
				<td>{{coupon.amount}}</td>
				<td>{{coupon.type}}</td>
				<td>{{coupon.message}}</td>
				<td>{{coupon.price}}</td>
				<td>{{coupon.image}}</td>
			</tr>
		</table>
	</div>
	<div class="alert alert-warning" role="alert" ng-show="result">
	<strong>{{resultString}}</strong>
	</div>
	</fieldset>
			</form>
		</div>
	</div>
</div>