<!-- update company -->
<div align="center">
	<div class="row">
		<div class="well bs-component">
			<form class="form-horizontal">
				<fieldset>
					<h2>Update Company</h2>
					<div class="form-group">
						<input class="form-control" type="text"
							placeholder="enter company id" ng-model="companyID"><br />
					</div>
					<div class="form-group">
						<input class="form-control" type="password"
							placeholder="enter new password" ng-model="companyPassword"
							required><br />
					</div>
					<div class="form-group">
						<input class="form-control" type="email"
							placeholder="enter new email" ng-model="companyEmail" required><br />
					</div>
					<div class="form-group">
						<button class="btn btn-primary" ng-click="func()">Update
							Company</button>
					</div>
					<div class="alert alert-success" role="alert"
						ng-show="resultSuccess">
						<strong>{{resultString}}</strong>
					</div>
					<div class="alert alert-warning" role="alert"
						ng-show="resultWarning">
						<strong>{{resultString}}</strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>