<!-- get purchased coupons by max price -->
<div align="center">
	<div class="row">
		<div class="well bs-component">
			<form class="form-horizontal">
				<fieldset>
                    <h2>Get The Details Of All My Coupons By Price</h2>
                        	<div class="form-group">
                        <input class="form-control" type="text" placeholder="enter price" ng-model="couponPrice" required><br />
                        </div>
                        <button class="btn btn-primary" ng-click="func()">Get Purchased Coupons by Max Price</button>
                        <br/><br/>
                        <table class="table table-striped table-hover " ng-hide="hidePurchasedCouponsByPriceDetails">
		<tr class="success">
			<td>id</td>
			<td>title</td>
			<td>start date</td>
			<td>end date</td>
			<td>amount</td>
			<td>type</td>
			<td>message</td>
			<td>price</td>
			<td>image</td>
		</tr>
		<tr ng-repeat="coupon in coupons | orderBy: 'price' ">

			<td>{{coupon.id}}</td>
			<td>{{coupon.title}}</td>
			<td>{{coupon.startDate}}</td>
			<td>{{coupon.endDate}}</td>
			<td>{{coupon.amount}}</td>
			<td>{{coupon.type}}</td>
			<td>{{coupon.message}}</td>
			<td>{{coupon.price}}</td>
			<td>{{coupon.image}}</td>
		</tr>
	</table>
	<div class="alert alert-warning" role="alert" ng-show="result">
	<strong>{{resultString}}</strong>
	</div>
                 </fieldset>
			</form>
		</div>
	</div>
</div>